<connectionStrings>   
   <!--<add name="DockerConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=dockerservice;Integrated Security=True" providerName="System.Data.SqlClient" />-->
   <add name="DockerConnection" connectionString="Server=db;Database=dockerservice;User Id=sa;Password=!QAZ2wsx;" providerName="System.Data.SqlClient" />
</connectionStrings>